@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,800;1,900&family=Raleway:wght@300;400;600;700;900&display=swap");

@layer base {
  body {
    @apply bg-[#121212];
    @apply font-[Montserrat];
    @apply text-putty;
  }
  li {
    @apply font-[Raleway];
    @apply cursor-pointer;
    @apply px-4;
  }
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 1s;
  }
}

@keyframes fade-In {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html {
  scroll-behavior: smooth;
}

/* Skills Logo Wrapper */
.image_wrapper {
  margin: 0px 5rem;
}

.scroll-container {
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

/* Webkit (Chrome, Safari) */
.scroll-container::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

/* Apply global styles after the specific container styles */
/* Track */
::-webkit-scrollbar-track {
  background: #121212;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #242628;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e2e4dd;
}