@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,800;1,900&family=Raleway:wght@300;400;600;700;900&display=swap');

@layer base {
    body {
        @apply bg-[#242628];
        @apply font-[Montserrat];
        @apply mb-[80px];
    }
    li {
        @apply font-[Raleway];
        @apply cursor-pointer;
        @apply px-4;
    }
    h1,h1,h3,h4,h5,h6,p,a {
        @apply text-putty;
    }
}

.image_wrapper {
    margin: 0px 5rem;
  }
/* GSAP timeline */
  .introduction {
    height: 100vh;
    width: 100vw;
    background: green;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
  }
  
  #container {
      background-color:grey;
      display:flex;
      flex-wrap:wrap;
      flex-direction:column;
      height:700%;
      width: auto;
    }
    
    .module{
      height: 100%; 
      height: 100vh;
    }
    
    .dark{
      width:100%;
      flex: 0 0 100%;
      background-color:rgb(99, 99, 99);
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }
    
    .white{
      width:200%;
      flex: 0 0 200%;
      background-color:white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .blue{
      width:100%;
      flex: 0 0 100%;
      background-color:blue;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    
    .orange{
      width:300%;
      flex: 0 0 300%;
      background-color:orange;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 2px solid black;
    }
